<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About RoboWealth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <header>
        <h1>About Easy Advisor</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/Risk">Risk Assessment</a></li>
            <li><a href="/Howitworks">How It Works</a></li>
            <li><a href="/Faqs">FAQs</a></li>
        </ul>
    </nav>
    <main>
        <p>Our Robo Advisor is built to help educate you on making the best choices to grow your money.</p>
        <p>Easy Advisor is committed to democratizing wealth management and helping our clients achieve their financial goals. We want you to feel safe and secure for the future.</p>
        <img src="worldassets.jpg" alt="World Market">
    </main>
    <footer>
        <p>&copy; 2024 Easy Advisor. All rights reserved.</p>
    </footer>
</body>
</html>
