<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <header>
        <h1>FAQs</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/Risk">Risk Assessment</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/Howitworks">How It Works</a></li>
        </ul>
    </nav>
    <main>
        <h2>Frequently Asked Questions</h2>
        <ul>
            <li><strong>Q:</strong> Is Easy Advisor suitable for beginners?</li>
            <li><strong>A:</strong> Yes, absolutely! Our platform is designed to be user-friendly and accessible to investors of all experience levels.</li>
            
            <li><strong>Q:</strong> What fees do you charge?</li>
            <li><strong>A:</strong> We believe in transparent pricing. Our fees are competitive and based on the assets under management. You can find more details on our Pricing page.</li>
            
            <li><strong>Q:</strong> Is my money safe with Easy Advisor?</li>
            <li><strong>A:</strong> Yes, security is our top priority. We use industry-standard encryption and security measures to protect your personal and financial information.</li>
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 Easy Advisor. All rights reserved.</p>
    </footer>
</body>
</html>
