<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How It Works</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <header>
        <h1>How It Works</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/Risk">Risk Assessment</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/Faqs">Faqs</a></li>
        </ul>
    </nav>
    <main>
        <p>Our Robo Advisor algorithm recommends personalized investment strategies tailored to your needs.</p>
        <p>Take a Look at the Recommended Portfolio based off your preferences.</p>
    </main>
    <footer>
        <p>&copy; 2024 Easy Advisor. All rights reserved.</p>
    </footer>
</body>
</html>
