<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robo Advisor Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <header>
        <h1>Welcome to RoboWealth</h1>
        <p>Automated Investing Made Easy</p>
    </header>
    <nav>
        <ul>
            <li><a href="/About">About</a></li>
            <li><a href="/Risk">Risk Assessment</a></li>
            <li><a href="/Howitworks">How It Works</a></li>
            <li><a href="/Faqs">FAQs</a></li>
        </ul>
    </nav>
    <main>
        <h2>Happy to Have You Here</h2>
        <p>Welcome to Easy Advisor, your trusted partner in automated investing.</p>
    </main>
    <footer>
        <p>&copy; 2024 Easy Advisor. All rights reserved.</p>
    </footer>
</body>
</html>
