<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <header>
        <h1>Risk Tolerance Assessment</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/Howitworks">How It Works</a></li>
            <li><a href="/Faqs">FAQs</a></li>
        </ul>
    </nav>
    <main>
        <h2>Risk Assessment Questions</h2>
        <ul>
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 Easy Advisor. All rights reserved.</p>
    </footer>
</body>
</html>